:root {
  --mainWhite: #ffffff;
  --darkPurple: #260f26;
  --lightPurple: #662966;
  --gold: #d4af37;
  --silver: #738290;
}

* {
  font-family: "Open Sans", sans-serif;
}

body,
html,
.app {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.app-logo {
  height: 2rem;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.navbar-toggler {
  border: none;
}

.white-icon {
  color: var(--mainWhite);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", cursive;
  padding: 1.2rem 0;
  color: var(--darkPurple);
}

.bg-purple {
  background: var(--darkPurple);
  color: var(--mainWhite);
}
